services:
  worker:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        MAIN_PATH: ./cmd/worker
    env_file: .env
    environment:
      - DATABASE=/data/citadel/citadel.sqlite
      - TEMPORAL_HOST_PORT=temporal-server:7236
    volumes:
      - ./data/citadel:/data/citadel
    depends_on:
      - temporal-server
  api:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        MAIN_PATH: ./cmd/api
    ports:
      - "4444:4444"
    env_file: .env
    environment:
      - DATABASE=/data/citadel/citadel.sqlite
      - TEMPORAL_HOST_PORT=temporal-server:7236
      - PORT=4444
      - CORS=http://localhost:3000
    volumes:
      - ./data/citadel:/data/citadel
    depends_on:
      - temporal-server
  temporal-server:
    build:
      context: ./temporalite/server
      dockerfile: ./Dockerfile
    ports:
      - "7236:7236"
      - "7233:7233"
    # Issues with the bind overwriting particular things inside the container, need to bind specifically
    # volumes:
    # - ./data/temporal:/etc/temporal/
    restart: unless-stopped
  temporal-ui:
    build:
      context: ./temporalite/ui
      dockerfile: ./Dockerfile
    ports:
      - "8233:8233"
    restart: unless-stopped
