services:
  agg:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        MAIN_PATH: ./cmd/agg/worker
    environment:
      - DATABASE=/data/citadel.sqlite
    volumes:
      - ./data/agg_worker:/data
  citadel:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        MAIN_PATH: ./cmd/citadel/api
    ports:
      - "4444:4444"
    environment:
      - DATABASE=/data/citadel.sqlite
      - PORT=4444
      - HTTPS_COOKIES=false
      - GITHUB_CLIENT_ID=something
      - GITHUB_CLIENT_SECRET=something
      - COOKIE_HASH_KEY=aBcDeFgHiJkLmNoP
      - COOKIE_BLOCK_KEY=aBcDeFgHiJkLmNoP
      - DEBUG_ENDPOINTS=true
    volumes:
      - ./data/citadel:/data
  temporal:
    build:
      dockerfile: ./temporalite/Dockerfile
    ports:
      - "8233:8233"
      - "7233:7233"
    volumes:
      - ./data/temporal:/data
    restart: unless-stopped
