services:
  worker:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        MAIN_PATH: ./cmd/worker
    environment:
      - DATABASE=/data/citadel.sqlite
      - TEMPORAL_HOST_PORT=host.docker.internal:7233
    volumes:
      - type: bind
        source: ./data/citadel
        target: /data
    depends_on:
      - temporal
  api:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        MAIN_PATH: ./cmd/api
    ports:
      - "4444:4444"
    env_file: .env
    environment:
      - DATABASE=/data/citadel.sqlite
      - TEMPORAL_HOST_PORT=host.docker.internal:7233
      - PORT=4444
      - HTTPS_COOKIES=false
      - DEBUG_ENDPOINTS=true
    volumes:
      - type: bind
        source: ./data/citadel
        target: /data
    depends_on:
      - temporal
  temporal:
    build:
      dockerfile: ./temporalite/Dockerfile
    ports:
      - "8233:8233"
      - "7233:7233"
    volumes:
      - ./data/temporal:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8233"] # Await the UI, not pretty but it works
      interval: 2s
      timeout: 1s
      retries: 3
    restart: unless-stopped
